.button {
    padding: 15px 25px;
    align-self: center;
    border: 0;
    border-radius: 5em;
    background-color: rgba(97, 149, 228, 1);
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 139%;
    color: #FFFFFF;
}

.button:hover {
    cursor: pointer;
}
